/* $light-back : #f9f8f4; */
/* $dark-back: #f2f0e9; */

.hidden {
  display: none;
}

body{
  background-color:#f9f8f4;
  max-width: 2640px;
  margin: 0 auto;
  /* padding-top: 10px; */
  text-align: justify;
  font-family: 'Barlow' ,Helvetica, sans-serif;
  scroll-behavior:smooth ;
  /* align-items: center; */
}

div {
  display: flex;
  /* background-color: #f2f0e9; */
}

img {
  width: 100%;
  max-width: 1920px;
}

p {
  font-size: 18px;
  letter-spacing: 1.2px;
  line-height: 30px;
  color: #444;
  /* background-color: #f2f0e9; */
  padding: 10px;
}

.logo-image {
  // height: 50px;
  width: 15vw;
  margin-right: auto;
}

.header {
  padding: 0 5vw;
  padding-top: 12px;
  background-color: #f2f0e9;
  align-content: flex-start;
  /* width: 100vw; */
  /* background: rgba(120, 109, 97, 0.6); */
  /* position: fixed;
  top: 0;
  left: 0; */
}

.header-link {
  margin-left: auto;
  padding: 0 2.5vw;
  padding-top: 12px;
}

.header-link a {
  margin-left: 10vw;
  font-size: 18px;
  letter-spacing: 1.2px;
  line-height: 30px;
  color: #444;
}

.header-link a:nth-child(0) {
  margin-left: 0;
}

a:hover {
  /* font-size: 20px; */
  /* color: #786d61; */
  color: #333333;
}

.header a:hover, .projects-menu a p:hover {
  color: #786d61;  
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  color: #786d61;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  color: #786d61;
  margin-bottom: 25px;

}

.tv-show {
  display: none;
}

.mobile-show {
  display: flex;
}

.tv-row {
  flex-direction: column;
}

.tv-row a img {
  width: 90vw;
}

.tv-row video {
  width: 100%;
}

.chess {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  align-items: center;
}

.projects .tv-row .ae-pr {
  flex-direction: column;
}

.about, .projects {
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.about, .projects {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 5vw;

}

.about-me {
  margin-top: 50px;
}

.about-me .column {
  align-items: center;
}

.about-me img {
  width: 100%;
  margin: 10px auto;
}

.projects-menu {
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}

.projects-menu p {
  margin-left: 0;
  cursor: pointer;
}

.poster {
  flex-direction: column;
  align-items: flex-start;
}

.chess img {
  width: 100%;
}

.projects video {
  width: 100%;
  max-width: 1920px;
  margin-bottom: 20px;
}

// .projects p {
//   // margin-bottom: 20px;
// }

.projects img {
  margin-bottom: 20px;
  width: 100%;
}

.ai .column {
  padding-top: 20px;
  align-items: center;
}

.poster img {
  width: 60%;
}

.projects-menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  align-items: center;
}

#contact-form {
  margin-left: 20vw;
  padding-right: 10vw;
  /* padding-left: 20vw; */
  margin-top: 90px;
  border: none;
  /* border-right: solid; */
}

#contact-info a {
  color: #786d61;
}

#contact-info {
  margin-left: 20vw;
  font-size: 15px;
  color: #786d61;
  /* padding-left: 20vw; */
  margin-top: 90px;
  width: 60vw;
  flex-direction: column;
  align-items: flex-start;
}

#contact-info p {
  font-size: 15px;
  color: #786d61;
}

.form-field {
  font-size: 15px;
  width: 100vw;
  align-items: flex-start;
  /* margin-left: 20vw; */
}

.form-field label {
  color: #666;
  font-size: 13px;
}

input, textarea {
  width: 60vw;
  font-size: 12px;
  border: none;
  background-color: rgba(255,255,255,0);
  border-bottom: solid 0.1px rgba(100, 100, 100, 1);
  margin-bottom: 20px;
}

input:active {
  border:none;
}

button {margin-top: 20px;
  font-size: 16px;
  padding-top: 9px;
  width: 100px;
  height: 40px;
  color: #444;
  /* margin-left: 20vw; */
}

button {
  /* border-bottom: 0; */
  align-items: flex-start;
}

/* #contact-form {
  align-items: center;
} */

/* ------- for js -------- */

.movie-name , .hint-image {
  display: none;
}

.mpvie-name-show , .hint-image-show
{
   display: flex;
}

.popover {
  display: none;
}

.show-popover {
  display: flex;
}

.home {
  padding: 5vw;
}

.home img {
  margin-bottom: 30px;
}

.home h1 {
  line-height: 60px;
  width: 90vw;
}

.line1 {
  font-size: 28px;
  color: #444444;
}

.line2 {
  margin-left: 5vw;
  font-size: 21px;
  // color: #444444;
}

.line3 {
  margin-left: 10vw;
  font-size: 28px;
  color: #444444;
}

/* ------------------- ipad ------------------- */

@media screen and (min-width: 768px) {


  .projects {
      padding: 0 4vw;
  }

  .logo-image {
    // height: 50px;
    width: 9vw;
  }

  .header {
      /* height: 40px; */
      width: 92vw;
      padding: 0 4vw;
      padding-top: 5px;
      position: fixed;
      top: 0;
      left: 0;
  }

  .about-me {
      margin-top: 75px;
  }

  /* .about-me h1 {
      padding-top: 150px;
  } */

  .projects-menu {
      flex-direction: row;
      margin-top: 75px;
  }

  .projects-menu p {
      margin-left: 13.5vw;
  }

  .poster img {
      width: 25vw;
  }

  .hint, .solution {
      flex-direction: column;
      border: solid 2px #444444;
      border-radius: 5px;
  }

  .hint:hover, .solution:hover {
    background-color: beige;
  }

  .tv-row {
      flex-direction: row;
      padding: 0;
  }

  .tv-row img {
      width: 44vw;
  }

  .tv-row img:nth-child(1) {
      margin-right: 4vw;
  }

  .tv-row video {
      width: 50vw;
  }

  .tv-row a img {
    width: 25vw;
  }

  #contact-form {
      margin-top: 175px;
      margin-left: 10vw;
      padding-left: 0vw;
      width: 30vw;
      border: none;
      border-right: solid 1px rgba(120, 109, 97, 0.6);
  }

  #contact-info {
      margin-top: 250px;
      padding-left: 0vw;
      padding-right: 200px;
      width: 30vw;
      margin-left: 10vw;
  }

  .form-field {
      width: 30vw;
      align-items: flex-start;
  }

  input, textarea {
      width: 30vw;
      border: none;
      border-bottom: solid 0.1px rgba(100, 100, 100, 1);
  }

  .home {
    align-items: center;
    padding: 0 5vw;
    padding-top: 100px;
  }

  // .home img {
  //   // margin-bottom: 30px;
  //   // width: 45vw;
  // }
  
  .home h1 {
    line-height: 60px;
    width: 50vw;
  }
  
  .line1 {
    font-size: 2.4vw;
    color: #444444;
  }
  
  .line2 {
    margin-left: 0;
    font-size: 2vw;
    // color: #444444;
  }
  
  .line3 {
    margin-left: 0;
    font-size: 2.8vw;
    color: #444444;
  }
  



}

/* ------------------- mac ------------------- */

@media screen and (min-width: 1024px) {

  .logo-image {
    // height: 50px;
    width: 7vw;
  }

  .tv-show {
      display: flex;
  }

  .tv-row {
      flex-direction: row;
  }

  .mobile-show {
      display: none;
  }

  h1 {
      font-size: 32px;
  }

  h2 {
      font-size: 26px;
  }

  p {
      font-size: 20px;
      line-height: 35px;
      padding: 10px;
  }

  .header {
      width: 96vw;
      padding-top: 10px;
  }

  .about p, .projects p {
      padding: 20px;
  }

  .about, .projects, .header {
      padding: 0 2vw;
  }

  .about-me .column {
      width: 45vw;
      top:0;
  }

  .about-me .column:nth-child(1) {
      margin-right: 3vw;
  }


  .about-me {
      flex-direction: row;
  }

  .tv-row img {
      width: 45vw;
  }

  .tv-row img:nth-child(1) {
      margin-right: 2vw;
  }

  .chess {
      flex-direction: row;
  }

  .chess img {
      width: 31.5vw;
      margin-right: 1vw;
  }

  .chess img:nth-child(3) {
      margin-right: 0;
  }

  .ai .column img {
      width: 25vw;
  }

  .ai .column img:nth-child(1) {
      margin-right: 5vw;
  }

  .ai .column img:nth-child(1) {
      margin-left: 5vw;
  }

  .tv-row video {
      width: 50vw;
  }

  .projects .tv-row .ae-pr {
    flex-direction: row-reverse;
  }

  .tv-row a img {
    width: 30vw;
  }

  .home {
    padding: 0 2vw;
    padding-top: 100px;
  }

  .line2 {
    font-size: 1.8vw;
    margin-left: 4vw;
  }

  .line3 {
    margin-left: 8vw;
    font-size: 2.6vw;
  }

  .poster p {
    padding: 5px;
  }

}
