<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Nitya Buch</title>
</head>
<body>
    <main>
        <div class="header row">
            <a href="/"><img class="logo-image" src="images/logo.svg"></a>
            <div class="header-link row">
              <h1 class="hidden">about, projects and contact links</h1>
              <a href="/about">about</a>
              <a href="/projects">projects</a>
              <a href="/contact" target="_blank">contact</a>
            </div>
        </div>
  
          <!-- <div class="projects-menu">
            <h1 class="hidden">project links</h1>
            <div><p class="ai-slide">Ai</p></div>
            <div><p class="ps-slide">Ps</p></div>
            <div><p class="c4d-slide">c4D</p></div>
            <div><p class="ae-pr-slide">Ae-Pr</p></div>
            <div><p class="coding-slide">Web Dev</p></div>
          </div> -->

        <!-- <div class="about-menu">
          <h1 class="hidden">about section links</h1>
          <img src="about.svg" alt="about me"></a>
          <img src="dream.svg" alt="my dream">
        </div> -->

        <div class="about-me about">
          <div class="column">
          <h1 class="mobile-show">About me</h1>
          <img src="images/nitya.jpeg"></div>
          <div class="column">
              <h1 class="tv-show">About me</h1>
            <br>
          <p>I am an Interactive Media Design student with a dream of becoming a film-maker. For now, I am trying my hands on creative Graphic & Web Design work.</p><br>
          <p>I am a vegetarian, a student, a movie buff, a sports enthusiast. I love mathematics and logic, which is the base of most of my works. I am a strong advocate of prioritizing watching Live sports above everything. I am all about old songs and scribbled books.</p><br>
          <p>My design is more logic than art and that is something I am working on. My design is my work and my work is my message to the world. I hope to make it inspiring.</p></div>
        </div>
        <div class="dream about">
          <br>
          <h1>My dream</h1>
          <h2>THE AMRIT JYOTI PROJECT</h2>
          <p>I grew up in Ahmedabad, India and had a privilege of recieving decent education. I studied in a school where I was taught humanity above everything. The same school taught me my responsibility as a part of the society. I believe it is only rightful that I have a choice to follow a career path of my choice and design a life-style I work so hard for. It is also my duty to give back to this world, which has offered me so much without asking for anything in return, with the money and resources I have earned.</p>
          <p>My dream is to be capable of having have 2 successful careers. One which focuses on 50% of the world, that is my not so selfish dreams and ambitions of becoming a filmmaker. The other dream is to design and build a school system, at least one, which helps children become better human beings.</p>
        </div>

        <!-- <footer class="footer">
          <img src="go-up.svg" alt="back to top">
        </footer> -->
    </main>
    <script src="js/main.js"></script>
</body>
</html>