<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Nitya Buch</title>
</head>
<body>
    <main>
        <div class="header row">
          <p>logo</p>
          <div class="header-link row">
            <h1 class="hidden">about, projects and contact links</h1>
            <a href="/about">about</a>
            <a href="/projects">projects</a>
            <a href="/contact" target="_blank">contact</a>
          </div>
        </div>
  
          <!-- <div class="projects-menu">
            <h1 class="hidden">project links</h1>
            <div><p class="ai-slide">Ai</p></div>
            <div><p class="ps-slide">Ps</p></div>
            <div><p class="c4d-slide">c4D</p></div>
            <div><p class="ae-pr-slide">Ae-Pr</p></div>
            <div><p class="coding-slide">Web Dev</p></div>
          </div> -->
        <!-- <footer class="footer"></footer> -->
    </main>
    <script src="js/main.js"></script>
</body>
</html>