<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Nitya Buch</title>
</head>
<body>
    <main>
        <div class="header row">
            <a href="/"><img class="logo-image" src="images/logo.svg"></a>
          <div class="header-link row">
            <h1 class="hidden">about, projects and contact links</h1>
            <a href="/about">about</a>
            <a href="/projects">projects</a>
            <a href="/contact" target="_blank">contact</a>
          </div>
        </div>

        <div class="projects-menu">
          <h1 class="hidden">project links</h1>
          <a href="#ai"><p class="ai-slide">Ai</p></a>
          <a href="#ps"><p class="ps-slide">Ps</p></a>
          <a href="#c4d"><p class="c4d-slide">c4D</p></a>
          <a href="#ae-pr"><p class="ae-pr-slide">Ae-Pr</p></a>
          <a href="#coding"><p class="coding-slide">Web Dev</p></a>
        </div>

        <div class="define projects">
          <h1>Defining design</h1>
          <!-- <p>Define Design</p> -->
          <p>Design to me is the amalgmation of Art and Functionality. Art may or may not serve a purpose. Design however, is more specific than art.
            Any functioning element needs to be presented with some artistic approach, which according to me is the most apt representation of design. Here is an example which may help you understand Design from my perspective.
          </p>
          <p>A keyboard can be designed in many ways. With Functionality as a priority, a keyboard may look like something on the <span class="tv-show">left</span><span class="mobile-show">top</span> with everything in perfect order and it would work. With much more artistic freedom, it can also look like something on the <span class="tv-show">right</span><span class="mobile-show">bottom</span> and it would work as well.
            <br> A logical keyboard is something you see on your keyboard. Design is studying frequency of the keys used and placing them together. It is assigning more than one value to some keys and having a long space bar key to improve functioning.
          </p>
          <div class="tv-row">
          <img src="images/function.jpg">
          <img src="images/design.jpg">
          </div>
        </div>

        <div class="ai projects" id="ai">
          <!-- <img src="images/black1.jpg"> -->
          <h1>Illustrator</h1>
          <h2>Suspense x Typography</h2>
          <p>Using simple typeface, here are some posters hinting to some of my favorite Suspense Movie Posters.</p>

          <!-- <div style="margin-top: 40px;" class="poster tv-row"> -->

            <!-- <div class="poster tv-row">
              <p class="play" style="cursor: pointer;" data-target="1">play</p>
            </div>

            <div class="poster tv-row">
              <p class="play" style="cursor: pointer;" data-target="2">play</p>
            </div>

            <div class="poster tv-row">
              <p class="play" style="cursor: pointer;" data-target="3">play</p>
            </div>

            <div class="poster popover">
              <div class="column">
                <img class="poster-image">
                <p style="font-size: 17px; cursor: pointer;" class="hint">hint? *spolier alert*</p>
              </div>
              <div class="column">
                <img class="hint-img">
                <p class="solution" style="font-size: 17px;cursor: pointer;">solution</p>
                <p class="movie-name"></p>
              </div>
            </div> -->

          <div class="poster tv-row">
            <div class="column tv-row">
              <img src="images/seven.png">
              <p style="font-size: 17px; cursor: pointer;" class="hint">hint? *spolier alert*</p>
              <!-- <p style="font-size: 17px;">spoiler alert</p> -->
            </div>
            <div class="column tv-row">
              <img src="images/seven-hint.png" class="hint-image">
              <div class="column">
              <p class="solution" style="font-size: 17px;cursor: pointer;">solution</p>
              <p class="movie-name">Se7en</p></div>
            </div>
          </div>

          <div class="poster tv-row">
              <div class="column tv-row">
              <img src="images/prestige.png">
              <p style="font-size: 17px; cursor: pointer;" class="hint">hint? *spolier alert*</p>
              <!-- <p style="font-size: 17px;">spoiler alert</p> -->
            </div>
            <div class="column tv-row">
              <img src="images/prestige-hint.png" class="hint-image">
              <div class="column">
              <p class="solution" style="font-size: 17px;cursor: pointer;">solution</p>
              <p class="movie-name">The Prerstige</p></div>
            </div>
          </div>

          <div class="poster tv-row">
              <div class="column tv-row">
              <img src="images/fc.jpg">
              <p style="font-size: 17px; cursor: pointer;" class="hint">hint ? *spolier alert*</p>
              <!-- <p style="font-size: 17px;">spoiler alert</p> -->
            </div>
            <div class="column tv-row">
              <img src="images/fc-hint.jpg" class="hint-image">
              <div class="column">
              <p class="solution" style="font-size: 17px;cursor: pointer;">solution</p>
              <p class="movie-name">I still cannot talk about it</p></div>
            </div>
          </div>


        </div>

        <div class="ps projects" id="ps">
          <h1>Photoshop</h1>
          <p>I use Photoshop mailnly to exploit images and really have fun working with this software.</p>
          <h2>Pre-planning</h2>
          <p>Wireframes & mockups in a team project</p>
          <div class="tv-row">
              <a href="images/mockup-mobile.jpg" target="_blank"><img src="images/mockup2.svg" ></a>
              <a href="images/mockup-tablet.jpg" target="_blank"><img src="images/mockup1.svg" ></a>
              <a href="images/web-grid.jpg" target="_blank"><img src="images/mockup3.svg" ></a>
            </div>

          <h2>Photo manipulation</h2>
          <p>the impossible can be (graphically) made possible</p>
          <p>click on the image below to see the Sergio Ramos in  a Barcelona Jersey Wallpaper</p>
          <div class="column tv-row">
          <img class="solution" style="cursor: pointer;" src="images/sr.jpg">
          <img class="movie-name" src="images/sr1.jpg"></div>

          <h2>Posters and Web Design</h2>
          <p>poster</p>
          <img src="images/marla.jpg" style="max-width: 720px;">
          <!-- <p>web page</p>
          <img src="images/ha1.jpg">
          <img src="images/ha2.jpg"> -->
          <p>mobile product page</p>
          <img src="images/ticket.jpg" class="mobile-img" style="max-width: 380px;">

        </div>

        <div class="c4d projects" id="c4d">
          <h1>cinema4D models</h1>
          <p>I started learning basic modeling on Cinema4D recently and instantly fell in love with the software.
          </p>
          <h2>Architect's Chess</h2>
          <p>
            <!-- i am not socrates or aristotle, but i am confident enough when i claim that the game of chess is one of the best metaphor of life. -->
             <!-- The math, probabilities and logic involved in it are similar to many events and scenarios in human life.  -->
             <!-- Maybe that is why this game is valued so highly even in today’s world, where battles are fought not using swords, horses and elephants. -->
             I see the world with a polarized perspective, just like a Chess Board. It is all white or all black for me. 
             I am also fascinated by architecture all around the world. I created a chess set inspired my modern architecture.</p>
            <p>The basis of the chess pieces are manipulated versions of basic trigonometric shapes the triangle, the square and the circle.
          </p>
          <img src="images/front-view.jpg">
          <img src="images/black1.jpg">

          <div class="chess">
              <img src="images/b-king1.jpg">
              <img src="images/b-queen1.jpg">
              <img src="images/b-bishop1.jpg">
          </div>
          <div class="chess">
            <img src="images/b-rook1.jpg">
            <img src="images/b-knight1.jpg">
            <img src="images/b-pawn1.jpg">
          </div>

          <img src="images/white.jpg">

          <div class="chess">
              <img src="images/w-king.jpg">
              <img src="images/w-queen.jpg">
              <img src="images/w-bishop.jpg">
          </div>
          <div class="chess">
            <img src="images/w-rook.jpg">
            <img src="images/w-knight.jpg">
            <img src="images/w-pawn.jpg">
          </div>
        </div>

        <div class="ae-pr projects" id="ae-pr">
            <h1 class="hidden">video</h1>
            <p>AfterEffects Illustrations</p>
            <div class="tv-row projects">
              <video controls src="video/illustration.mp4"></video>
              <p>An After-effects Video illustration for a school Project. Create a marketing brand and develop a marketing video. Line Animations and keyframe toggles to showcase the services provided by a marketing company</p>
            </div>
            <div class="tv-row projects">
              <video controls src="video/thermostat-ae.mp4"></video>
              <p>Creating a 3D model in Cinema4D and rendering a product descriptive video. Exploited view shows various levels of materials used.</p>
            </div>
        </div>

        <div class="coding projects ps projects" id="coding">
            <h1 class="hidden">not so coder</h1>
            <p>web page</p>
          <img src="images/ha1.jpg" style="max-width: 1280px;">
          <img src="images/ha2.jpg" style="margin-bottom: 50px; max-width: 1280px;">
        </div>

        <footer class="footer">
            <a href="/projects"><p style="position: fixed; bottom: 20px; right: 20px; padding: 10px; background-color: rosybrown;">top</p></a>
          <!-- <img src="go-up.svg" alt="back to top"> -->
        </footer>
    </main>
    <script src="js/main.js"></script>
</body>
</html>